 # virtual environments
 env
 venv
 
 # output logs
 netproc_*.csv
 netproc_*.tsv
 netproc_*.json
 netproc_*.ndjson
 
 # build artifacts
 build
 dist
target
 
 # vscode
 .vs/
 netproc_rs/.vs

 # dev
 test
 
netproc_*